html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.nighttime {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    color: #FFF;
    background-color: #333;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAADklEQVQIW2NgQAXGZHAAGioAza6+Hk0AAAAASUVORK5CYII=");
}

#container {
    height: 100%;
}

.addtask {
    padding: 10px;
}
